<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container overflow-hidden">
      <br>
      <br>
      <h1 class="es text-white " style="font-size: 50px; text-shadow: 11px 12px rgb(11, 11, 11);">Education/Skills</h1>
      <br>
      <br>
      <div class="row gx-5">
        <div class="col text-white">
         <div class="p-3 border bg-light text-white bg-dark">
          <h2>Texas A&M University-San Antonio</h2>
          <h3>Bachelors of Science-August 2020-Current</h3>
          <h3>Cumulative GPA: 3.5</h3>
          <h3> Awards: Presidents List, Deans List, TheDream.US Scholarship</h3>
          <h2>Relevant Coursework:</h2>
          <ul style="font-size: 33px;">
            <li>Programming Fundamentals</li>
            <li>Data Structures</li>
            <li>Data Analytics</li>
            <li>Scripting Languages </li>
            <li>Web Developement </li>
          </ul>
          
      
 
          <h4></h4>
         </div>
         
        </div>
        
        <div class="col">
          
          <div class=""> </div>
         
          <img src="public/Picturess/java-coffee-cup-logo--v2.gif" style="width:20ch"><img src="public/Picturess/android-os.png" style="width:25ch" ><img src="public/Picturess/bash.png" style="width:20ch">
          <img src="public/Picturess/css.png" style="width:23ch"> <img src="public/Picturess/powershell.png" style="width:22ch"> <img src="public/Picturess/python.png" style="width:18ch">
        
          <br>
          <br>
          
         <img src="public/Picturess/sql.png" style="width:20ch"><img src="public/Picturess/jupyter.png" style="width: 20ch"><img src="public/Picturess/html.png" style="width: 20ch;">
          <h2></h2>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>

  </body>
</html>
